<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Count</title>

    <script src="js/lib/jquery-2.2.4.min.js"></script>
    <script src="js/countModel.js"></script>
    <script src="js/countView.js"></script>
    <script src="js/countPersister.js"></script>
    <script src="js/countController.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body>
    <button id="increment">Increment</button>
    <div id="count"></div>
  </body>
</html>
